.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--background-color);
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --text-shadow-color: #ff0070;
  --title-article-color: #ff0070;
  --header-title-color: #DB00FF;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --rec-color: #ff0070;
  --hover-button-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark .header__rec {
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--rec-color);
  font-size: 18px;
  text-transform: uppercase;
}